@model Model.Class
    @if (Model.Title == null)
{



    <script type="text/javascript">
        alert("کد وارد شده صحیح نمیباشد! ");
    </script>
}
else
{
    <html>

    <head>

        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>


        <script type="text/javascript">
            function searchFaild() {
                $("#searchResult").html("Sorry!!!! sorry!!! sorry!!!!!");
            }
        </script>
        <style>
            #loader {
                display: none;
            }
        </style>


    </head>


    <body>

        <dl class="dl-horizontal">

            <dt id="aaa">
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.University.UniversityTitle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.University.UniversityTitle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MemberCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MemberCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Semester)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Semester)
            </dd>



            <dt>
                @Html.DisplayNameFor(model => model.AdminInfo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AdminInfo)
            </dd>

            @*<dt>
                    @Ajax.ActionLink("Join", "JoinClass", "Classes",new {ID=Model.ID },
                   new AjaxOptions
                   {
                       HttpMethod = "POST",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "res"

                   }
                , new { @class = "btn btn-defualt btn-success" }

                )
                </dt>*@

        </dl>


        <div>

            @Html.ActionLink(" Join! ", "JoinClass", new { id = Model.ID }, new { @class = "btn btn-default btn-default btn-success btn-lg" }) |||


            @*@using (Ajax.BeginForm("JoinClass","Classes",new {classId=Model.ID },new AjaxOptions
                {
                    OnFailure = "searchFaild",

                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    LoadingElementId = "ajaxloader"

                }))
                {
                <div>
                    <input type="submit" value=" Join !" class="btn btn-primary btn-default" />
                    <img id="loader" src="~/Content/LoadingPic/ajax-loader (1).gif" />
                </div>
                    }*@
        </div>

        <br />
        <hr />

    </body>


</html>

}
