@model Model.Class

@{
    ViewBag.Title = Resources.ClassRF.CreatTitle;
}

<hr />
@using (Html.BeginForm("CreateClass", "Classes", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="jumbotron">
        <tr>
            <td height="77" align="center" valign="middle"> <h3>@Resources.ClassRF.SelectUniversity</h3></td>
        </tr>
        <tr>
            <td height="75" align="center" valign="middle">
                <div class="form-group">

                    @Html.DropDownList("UniversityId", null, htmlAttributes: new { @class = "form-control mycombo" })
                    @Html.ValidationMessageFor(model => model.UniversityId, "", new { @class = "text-danger" })

                </div>
            </td>
        </tr>

        <tr>
            <td height="60" align="center" valign="middle">
                <div>
                    <input type="submit" value="@Resources.ClassRF.Ok_btn" class="btn btn-default btn-success btn-lg" style="padding-right:100px;padding-left:100px" />
                </div>
            </td>
        </tr>
        <tr style="height:100px"></tr>
        <tr>
            <td height="92" align="center" valign="middle">
                <p><a class="btn btn-default  btn-lg btn-primary" style="padding-right:200px;padding-left:200px" href="https://localhost:44355/Universities/Create">@Resources.ClassRF.AddUniversity_btn&raquo;</a></p>
                <h5>@Resources.ClassRF.AddUniversity_msg</h5>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
