
@model IEnumerable<Model.Class>
@{
    ViewBag.Title = Resources.ClassRF.MyClasses;
    int roleid=@ViewBag.UserRoleId;


}
<html>
<head>
   



</head>
<body>

    <hr />

    <div class="jumbotron" style="align-content:center">

        <table class="table">
            <tr>

                <th>

                    @*Html.DisplayNameFor(model => model.ProfileImage)*@
                          
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.University.UniversityTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdminInfo)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>

            <td>
                @*@Html.DisplayFor(modelItem => item.ProfileImage)*@
                <img src="~/ClassProfileImages/ClaccIcon.jpg" width="40" height="40" style="border-radius:20px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.University.UniversityTitle)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AdminInfo)
            </td>

            <td>
                <input type="hidden" class="classModel" value="@item.ID" />
            </td>

            <td>

                 @Html.ActionLink(Resources.ClassRF.OpenClass, "MyClass", new { classID = item.ID }, new { @class = "btn btn-default btn-success btn-sm", id = "{btnOpenClass}" })
                 @*@Html.ActionLink("Left Class ", "LeftClass", new { id = item.ID }, new { @class = "btn btn-default btn-danger btn-sm" })*@
                <input type="button" class="btnLeavingClass btn btn-danger btn-sm " value="@Resources.ClassRF.LeaveClass_btn" />

            </td>

        </tr>

           }

        </table>

    </div>

    <div style="align-content:center">
        @*if User is a professor,"Creation Botomn " will be apear..... *@
        @if (roleid == 1011)
        {
            @Html.Partial("~/Views/CommonPartialView/ShowCreationButomn.cshtml");

        }
        else
        {

            @Html.Partial("~/Views/CommonPartialView/FindAndJoinNewClass.cshtml");

        }

    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".btnLeavingClass").click(function () {

                swal({
                    title: "??  Are you sure",
                    text: "  Once Leaving, you Wont be able to enter class agin         ,unless enroll via accesscode",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })

                    .then((willDelete) => {
                        if (willDelete) {

                            @*var id = $(".classModel").val();*@
                            var id = $(this).closest('tr').find('input[type=hidden]').val();
                            $.ajax({
                                type: "GET",
                                url: '/Classes/LeftClass?id=' + id,
                                contentType: 'application/json; charset=utf-8',
                                success: function () {

                                 @*   swal(@Html.Raw(Resources.ClassRF.LeftClass_msgHeader),@Html.Raw(Resources.ClassRF.LeftClass_msgText), { buttons: false });*@
                                swal("You Left This Class","We Hope that,This class was benefit for you...", { buttons: false });

                                    window.location.reload();
                                },
                                error: function (xhr, status, error) {
                                    swal("some Error ocurs !", "Please try later....", "info");
                                }
                            });

                        }
                    })


            })
        })
    </script>
</body>

</html>






