<hr />
<br />
<br />

<div class="jumbotron">
    <hr />

    <div >

        <h2>
            Dear @ViewBag.StudentName
        </h2>
        <h2> @ViewBag.classname</h2>
         <h3>    @Resources.ClassRF.Welcome_msg  !></h3>
        
           <h5>@Resources.ClassRF.lastMemberCount :  @ViewBag.nth  :)</h5>


    </div>

    <hr />
    <hr />

    <div class="row">
        <spa class="col-md-5" style="align-content:center">
            <p><a class="btn btn-success col-md-5" href="#">Go TO Class!</a></p>
        </spa>

        <div class="col-md-5" style="align-items:center">
            <p><a class="btn btn-success col-md-5" href="https://localhost:44355/Classes/MyClasses">See All My Class</a></p>
        </div>

    </div>



</div>

