<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/myCss.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/CustomCss.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/MicrosoftAjax.js"></script>
    <script src="~/Scripts/MicrosoftMvcAjax.js"></script>



    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @*Login PAge Desine :*@
    <link href="~/Content/LoginPage.css" rel="stylesheet" />
    <script src="~/Scripts/LoginPage.js"></script>


    <title>@ViewBag.Title - ChatApp</title>
    @if (System.Globalization.CultureInfo.CurrentCulture.Name.Contains("fa"))
    {
        <link href="@Url.Content("~/Content/bootstrap.rtl.css")" rel="stylesheet" type="text/css" />      
    }
    else
    {
        @Styles.Render("~/Content/css")

    }
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <nav style="position:relative">
            <div dir="ltr">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Chat App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                <ul class="navbar-btn nav navbar-nav">
                    <li>@Html.ActionLink(ChatApp.App_GlobalResources.Global.Home, "Index", "Home")</li>
                    <li>@Html.ActionLink(ChatApp.App_GlobalResources.Global.About, "About", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> @Resources.Global.Language <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("English", "ChangeLanguage", "Home", new { lan = "en-US" }, null)</li>
                            <li> @Html.ActionLink("فارسی", "ChangeLanguage", "Home", new { lan = "fa-IR" }, null)</li>
                        </ul>
                    </li>
                    @if (User.Identity.IsAuthenticated && Request.Cookies["adminCookie"] != null && Request.Cookies["adminCookie"].Value.ToString() == "admin")
                    {

                        <li>@Html.ActionLink(ChatApp.App_GlobalResources.Global.ClassesList, "Index", "Classes")</li>
                        <li>@Html.ActionLink(ChatApp.App_GlobalResources.Global.UsersList, "Index", "Users")</li>


                    }



                </ul>



            </div>

            @if (System.Globalization.CultureInfo.CurrentCulture.Name.Contains("fa"))
            {
                <div class="fixLeft">
                    <ul class="navbar-btn nav navbar-nav">
                        <li>
                            @Html.ActionLink(Resources.Global.SignUp, "SignUp", "AccountManager")
                        </li>

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink(Resources.Global.Login, "Login", "AccountManager")
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink(Resources.Global.Logout, "LogOut", "AccountManager")
                            </li>
                            string cookieName = User.Identity.Name;
                            if (Request.Cookies[cookieName] != null)
                            {
                                <li>
                                    <div>
                                        <a href="https://localhost:44355/Users/Edit" style="margin:auto" >
                                            <img src="@Url.Content(Request.Cookies[cookieName].Value.ToString())" alt="@User.Identity.Name" title="  @User.Identity.Name  " width="50" height="50" style="border-radius:50px" />
                                        </a>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <div>
                                        <a href="https://localhost:44355/Users/Edit" style="padding-right:30%">
                                            <img src="~/UserProfileImage/Profile.png" alt="my img" width="30" height="30" style="border-radius:20px" />
                                        </a>
                                        <span style=" color:cornsilk; padding-top:3px;padding-bottom:0px">@User.Identity.Name</span>
                                    </div>
                                </li>
                            }



                        }



                    </ul>
                </div>
            }
            else
            {
                <div class="fixRight">
                    <ul class="navbar-btn nav navbar-nav">
                        <li>
                            @Html.ActionLink(Resources.Global.SignUp, "SignUp", "AccountManager")
                        </li>

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink(Resources.Global.Login, "Login", "AccountManager")
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink(Resources.Global.Logout, "LogOut", "AccountManager")
                            </li>
                            string cookieName = User.Identity.Name;
                            if (Request.Cookies[cookieName] != null)
                            {
                                <li>
                                    <div>
                                        <a href="https://localhost:44355/Users/Edit" style="margin:auto">
                                            <img src="@Url.Content(Request.Cookies[cookieName].Value.ToString())" alt="@User.Identity.Name" title="  @User.Identity.Name  " width="50" height="50" style="border-radius:50px" />
                                        </a>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <div>
                                        <a href="https://localhost:44355/Users/Edit" style="padding-right:30%">
                                            <img src="~/UserProfileImage/Profile.png" alt="my img" width="30" height="30" style="border-radius:20px" />
                                        </a>
                                        <span style=" color:cornsilk; padding-top:3px;padding-bottom:0px">@User.Identity.Name</span>
                                    </div>
                                </li>
                            }



                        }





                    </ul>
                </div>
            }


        </nav>
        
    </div>



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ChatApp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
